[core]
editor = nvim
quotepath = false
[merge]
tool = nvim
ff = false
[push]
default = simple
[pull]
rebase = true

[user]
name = KeishiS
email = sando.keishi.sp@alumni.tsukuba.ac.jp
[github]
user = KeishiS
[init]
defaultBranch = main
[commit]
gpgsign = true

[includeIf "gitdir:~/Gits/nobuta05/"]
path = ~/.gitconfig_nobuta05
