[core]
editor = helix
quotepath = false
[merge]
tool = helix
ff = false
[push]
default = simple
[pull]
rebase = true

[user]
name = KeishiS
email = sando.keishi.sp@alumni.tsukuba.ac.jp
[github]
user = KeishiS
[init]
defaultBranch = main
[commit]
gpgsign = true

[includeIf "gitdir:~/Gits/nobuta05/"]
path = ~/.gitconfig_nobuta05
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[lfs]
  standalonetransferagent = rclone
[lfs "customtransfer.rclone"]
  path = git-lfs-agent-rclone
  args = box:repo-files

