router:
  login_password: "replace-me"
  administrator_password: "replace-me"
  admin_password: "replace-me"
  sshd_host_key: "replace-with-values-after-sshd-host-key-generate"

v6plus:
  username: "replace-me"
  password: "replace-me"
  fixed_ipv4: "replace-me"
  interface_id: "replace-me"
  br_ipv6: "replace-me"
  update_server: "replace-me"

hosts:
  machine2: &machine2_ip "192.168.100.11"
  machine3: &machine3_ip "192.168.100.12"

dhcp:
  static_leases:
    - name: "replace-me1"
      mac: "00:00:00:00:00:00"
      ip: *machine1_ip
    - name: "replace-me2"
      mac: "00:00:00:00:00:00"
      ip: *machine2_ip
    - name: "replace-me3"
      mac: "00:00:00:00:00:00"
      ip: *machine3_ip

dns:
  static_records:
    - name: "id.example.com"
      ip: *machine2_ip
    - name: "machine2.example.com"
      ip: *machine2_ip
    - name: "machine3.example.com"
      ip: *machine3_ip

nat:
  port_forwards:
    - id: 1
      protocol: "tcp"
      outer_port: 22
      inner_ip: *machine3_ip
      inner_port: 22
    - id: 2
      protocol: "tcp"
      outer_port: 80
      inner_ip: *machine3_ip
      inner_port: 80
    - id: 3
      protocol: "tcp"
      outer_port: 443
      inner_ip: *machine3_ip
      inner_port: 443
