router:
  login_password: "replace-me"
  administrator_password: "replace-me"
  admin_password: "replace-me"
  sshd_host_key: "replace-with-values-after-sshd-host-key-generate"

v6plus:
  username: "replace-me"
  password: "replace-me"
  fixed_ipv4: "replace-me"
  interface_id: "replace-me"
  br_ipv6: "replace-me"
  update_server: "replace-me"

hosts:
  replace_me1_ip: &me1_ip "192.168.100.10"
  replace_me2_ip: &me2_ip "192.168.100.11"

dhcp:
  static_leases:
    - name: "replace-me1"
      mac: "00:00:00:00:00:00"
      ip: *me1_ip
    - name: "replace-me2"
      mac: "00:00:00:00:00:00"
      ip: *me2_ip

nat:
  port_forwards:
    - id: 1
      protocol: "tcp"
      outer_port: 22
      inner_ip: *me2_ip
      inner_port: 22
    - id: 2
      protocol: "tcp"
      outer_port: 80
      inner_ip: *me1_ip
      inner_port: 80
    - id: 3
      protocol: "tcp"
      outer_port: 443
      inner_ip: *me1_ip
      inner_port: 443
