flake.nix filter=git-crypt diff=git-crypt
flake.lock filter=git-crypt diff=git-crypt
private.nix filter=git-crypt diff=git-crypt
credentials.nix filter=git-crypt diff=git-crypt
modules/base/hosts filter=git-crypt diff=git-crypt
hosts/*/hosts.local filter=git-crypt diff=git-crypt
hosts/home-srv/postgresql/apps/** filter=git-crypt diff=git-crypt
hosts/home-srv/myserv1/** filter=git-crypt diff=git-crypt
hosts/m710q/open-webui.nix filter=git-crypt diff=git-crypt
modules/_retired/** filter=git-crypt diff=git-crypt
ops/ext/** filter=git-crypt diff=git-crypt
secrets/README.md filter=git-crypt diff=git-crypt
