**/secrets/*
!**/secrets/*.enc
!**/secrets/*.enc.*
!**/secrets/*.example
!**/secrets/README.md

**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/*.tfplan

rtx830.generated.conf
