private.nix filter=git-crypt diff=git-crypt
credentials.nix filter=git-crypt diff=git-crypt
hosts/home-srv/postgresql/apps/** filter=git-crypt diff=git-crypt
home-srv/myserv/** filter=git-crypt diff=git-crypt
lenovo/myserv/** filter=git-crypt diff=git-crypt
ops/ext/** filter=git-crypt diff=git-crypt
